<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="https://www.enigmacamp.com/images/enigmacamp-color.svg"
      width="128"
      height="30"
      alt=""
    />
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-2">
        <a [routerLink]="['/']">/ Home /</a>
      </li>
      <li class="nav-item mr-2">
        <a [routerLink]="['/book']">Books /</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/add-book']">Add Books /</a>
      </li>
    </ul>
  </div>
</nav>
